{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img width="500" height="500" src="{{ produto.imagem.url }}" class="card-img-top"
                     alt="{{ produto.nome }}">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">{{ produto.nome }}</h2>
                <p class="lead">{{ produto.descricao }}</p>
                <h3>R$ {{ produto.preco }}</h3>
            </div>
        </div>
        <div>
            <form action="{% url 'pagar'  id_presente=produto.id %}" method="post"
                  enctype="multipart/form-data">{% csrf_token %}
                {{ comprador_form }}
                <hr class="featurette-divider">
                <input type="submit" class="btn btn-primary" value="Presentear">

            </form>
            <a href="{% url 'lista_de_presente' %}">
                    <button class="btn btn-primary">Voltar</button>
                </a>
        </div>

    </div>
{% endblock %}