{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--? Slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-8 col-lg-6 col-md-8 ">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".3s">{{ data_casamento }}</span>
                                <h1 data-animation="fadeInLeft" data-delay=".5s"
                                    data-duration="2000ms">{{ noivo }}<strong> & </strong>
                                    {{ noiva }}</h1>
                                <p data-animation="fadeInLeft" data-delay=".9s">Irão se casar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-8 col-lg-6 col-md-8 ">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".3s">{{ data_casamento }}</span>
                                <h1 data-animation="fadeInLeft" data-delay=".5s"
                                    data-duration="2000ms">{{ noivo }}<strong> & </strong>
                                    {{ noiva }}</h1>
                                <p data-animation="fadeInLeft" data-delay=".9s">Irão se casar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End-->
    <!--? Our Story Start -->
    <div id="nossa-historia" class="Our-story-area story-padding">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-70">
                        <h2>Nossa História de Amor</h2>
                        {#                        <img src="{% static 'assets/img/gallery/tittle_img.png' %}" alt="">#}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="story-caption background-img mb-40">
                        <div class="story-details">
                            <p>Nos conhecemos na igreja apenas de vista, onde trocamos apenas olhares discretos. Um
                                pouco mais de três anos depois, começamos a conversar pelo instagram. </p>
                            <p> Nossas conversas iam além do comum; compartilhávamos nossas crenças, valores, sonhos até
                                que resolvemos orar juntos. </p>
                            <p> Esses momentos de espiritualidade fortaleceram nosso vínculo e nos levaram a começar um
                                relacionamento. </p>
                            <p> Rapidamente percebemos que queríamos construir um futuro juntos e, em pouco tempo, ele
                                me pediu em casamento, selando assim nosso amor e compromisso para toda a vida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="story-img">
                        <img class="story2" src="{% static 'assets/img/site/erivaldo-evelyn.jpeg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Story End -->
    <!--? Services Start -->
    <section id="info-casamento" class="pricing-card-area section-padding30 section-bg"
             data-background="assets/img/gallery/section_bg1.png">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-70">
                        <h2>Informações sobre o casamento</h2>
                        {#                        <img src="{% static 'assets/img/gallery/tittle_img.png' %}" alt="">#}
                        <p>
                            No dia 7 de dezembro de 2024, às 15h, teremos uma cerimônia seguida de festa no Rey House
                            Eventos, que fica na Avenida José Manhães, número 605, no bairro Santos Dumont, em Maceió,
                            Alagoas. Vai ser um momento especial, e gostaríamos muito que você estivesse lá com a
                            gente!</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-card active text-center mb-30">
                        <div class="card-top">
                            <span class="flaticon-project"></span>
                            <h4>Cerimônia / Festa</h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li><i class="fas fa-calendar-alt"></i>07 Dezembro de 2024</li>
                                <li><i class="far fa-clock"></i>15:00</li>
                                <li><i class="fas fa-map-marker-alt"></i>Rey House Eventos</li>
                                <li>Avenida José Manhães nº 605, Santos Dumont, Maceió, Alagoas</li>
                                <li><i class="far fa-map"></i> Confira o mapa</li>
                            </ul>
                        </div>
                        {#                        <div class="card-buttons mt-30">#}
                        {#                            <a href="#" class="btn card-btn1">Get Started</a>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Card End -->
    <!--? Count Down Start -->
    <div class="count-down-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="count-down-wrapper">
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span id="days" class="counter">0</span>
                                    <p>dias</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter active text-center">
                                    <span id="hours" class="counter">0</span>
                                    <p>horas</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span id="minutes" class="counter">0</span>
                                    <p>minutos</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span id="seconds" class="counter">0</span>
                                    <p>segundos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Count Down End -->
    <!--? Gallery Area Start -->
    <div id="galeria" class="gallery-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img"
                             style="background-image: url({% static 'assets/img/gallery/gallery1.png' %});">
                        </div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3>image 01</h3>
                                <a href="{% static 'assets/img/gallery/gallery1.png' %}" class="menorie-icon"> <i
                                        class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img"
                             style="background-image: url({% static 'assets/img/gallery/gallery2.png' %});">
                        </div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3>image 02</h3>
                                <a href="{% static 'assets/img/gallery/gallery1.png' %}" class="menorie-icon"> <i
                                        class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img"
                             style="background-image: url({% static 'assets/img/gallery/gallery3.png' %});">
                        </div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3>image 03</h3>
                                <a href="{% static 'assets/img/gallery/gallery1.png' %}" class="menorie-icon"> <i
                                        class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img"
                             style="background-image: url({% static 'assets/img/gallery/gallery4.png' %});">
                        </div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3>image 04</h3>
                                <a href="{% static 'assets/img/gallery/gallery1.png' %}" class="menorie-icon"> <i
                                        class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
    <!--? Gift Start -->
    <section id="presenca" class="gift-area gift-padding fix"
             data-background="{% static 'assets/img/site/secao-confirmar-presenca.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="gift-caption text-center">
                        <h2>O seu melhor presente</h2>
                        <p>Será sua apresentação em nosso casamento</p>
                        <button type="button" class="btn btn-whit" data-toggle="modal" data-target="#presencaModal">
                            confirmar presença
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="presencaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmar Presença</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'presenca' %}" method="post">{% csrf_token %}
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="nome-convidado" class="col-form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome-convidado"  name="nome-convidado">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}