{% load static %}
<!-- Meta Tags Open Graph para WhatsApp e Facebook -->
<meta property="og:title" content="Erivaldo&Evelyn">
<meta property="og:description"
      content="Bem-vindo ao site oficial do nosso casamento! Aqui você encontrará todas as informações sobre a cerimônia, a recepção e como confirmar sua presença. Estamos ansiosos para celebrar este momento especial com você! ">
<meta property="og:image" content="{% static 'assets/img/site/erivaldo-evelyn.jpeg' %}">
<meta property="og:url" content="URL_da_página">
<meta property="og:type" content="website">

{#    <!-- Meta Tags Twitter Card para Twitter (reconhecido por outras plataformas) -->#}
{#    <meta name="twitter:card" content="summary_large_image">#}
{#    <meta name="twitter:title" content="Título da Página">#}
{#    <meta name="twitter:description" content="Descrição breve da página">#}
{#    <meta name="twitter:image" content="URL_da_imagem_de_destaque">#}
{##}
{#    <!-- Meta Tags opcionais para melhorar a visualização no Instagram -->#}
{#    <meta name="instagram:title" content="Título da Página">#}
{#    <meta name="instagram:description" content="Descrição breve da página">#}
{#    <meta name="instagram:image" content="URL_da_imagem_de_destaque">#}